<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Agreemi</title>
  <link rel="icon" href="/images/favicon-16x16.png" type="image/x-icon" sizes="16x16">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="/styles/agreement.css">
   
</head>
<body>
  
<!-- partial:index.partial.html -->
<section class="s_greatwork">
<div class="container">
    <div class="col-md-6">
      <div class="b_shnw_work">
        <h3 class="btl">
          Lorem ipsum dolor sit
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui unde sequi optio quae aut dolorum iste commodi deleniti omnis perspiciatis laborum sunt architecto ex sint, soluta vero porro nostrum?.. </p>
        <div class="b_readmore">
          
          <div class="link">
            <a href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="b_shnw_work">
        <h3 class="btl">
          Lorem ipsum dolor sit
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui unde sequi optio quae aut dolorum iste commodi deleniti omnis perspiciatis laborum sunt architecto ex sint, soluta vero porro nostrum?.. </p>
        <div class="b_readmore">
          
          <div class="link">
            <a href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="b_shnw_work">
        <h3 class="btl">
          Lorem ipsum dolor sit
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui unde sequi optio quae aut dolorum iste commodi deleniti omnis perspiciatis laborum sunt architecto ex sint, soluta vero porro nostrum?.. </p>
        <div class="b_readmore">
          
          <div class="link">
            <a href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="b_shnw_work">
        <h3 class="btl">
          Lorem ipsum dolor sit
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui unde sequi optio quae aut dolorum iste commodi deleniti omnis perspiciatis laborum sunt architecto ex sint, soluta vero porro nostrum?.. </p>
        <div class="b_readmore">
          
          <div class="link">
            <a href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="b_shnw_work">
        <h3 class="btl">
          Lorem ipsum dolor sit
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui unde sequi optio quae aut dolorum iste commodi deleniti omnis perspiciatis laborum sunt architecto ex sint, soluta vero porro nostrum?.. </p>
        <div class="b_readmore">
          
          <div class="link">
            <a href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="b_shnw_work">
        <h3 class="btl">
          Lorem ipsum dolor sit
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui unde sequi optio quae aut dolorum iste commodi deleniti omnis perspiciatis laborum sunt architecto ex sint, soluta vero porro nostrum?.. </p>
        <div class="b_readmore">
          
          <div class="link">
            <a href="">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- partial -->

</body>
</html>
